* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: "Proxima Nova Rg", sans-serif;
}

:root {
  --glabal-side-padding: 2rem;
  --grey-border: #D8DEE8;
  --tags-bg: #ECEFF1;
  --title-color: #424242;
}

body {
  background-color: #fbfbfd;
  transition: all 0.2s ease;
  flex-flow: column nowrap;
  display: flex;
}

header {
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1rem) saturate(160%);
  padding: 1rem var(--glabal-side-padding);
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: space-between;
  color: var(--title-color);
  flex-flow: row wrap;
  position: sticky;
  display: flex;
  gap: 1rem;
  z-index: 1;
  top: 0;
}
@media screen and (max-width: 768px) {
  header {
    flex-flow: column nowrap;
    align-items: center;
  }
}
header h1 {
  font-family: "Proxima Nova Bl", sans-serif;
  text-transform: capitalize;
  min-width: min-content;
  max-width: max-content;
  flex-grow: 1;
}
header h2 {
  font-family: "Proxima Nova Rg", sans-serif;
  text-transform: capitalize;
  min-width: max-content;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  header h2 {
    font-size: 0.8rem;
  }
}
header h2 hr {
  background-color: blue;
  border-radius: 50%;
  aspect-ratio: 1;
  border: none;
  width: 0.5rem;
}
header button {
  background-color: dodgerblue;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
}
header button:hover {
  cursor: pointer;
}

main {
  grid-template-areas: "aside main main";
  grid-template-columns: 1fr 2fr;
  display: grid;
  width: 100%;
}
@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-flow: column nowrap;
  }
}
main aside {
  flex-flow: column nowrap;
  grid-area: aside;
  display: flex;
  padding: 2rem;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  main aside {
    order: 2;
  }
}
main aside section {
  border: 1px solid var(--grey-border);
  border-radius: 0.5rem;
  padding: 1rem;
}
main aside section h3 {
  font-family: "Proxima Nova Bl", sans-serif;
  text-transform: uppercase;
  color: var(--title-color);
  padding-bottom: 0.5rem;
}
main aside section article {
  flex-flow: row wrap;
  gap: 0.5rem 0.8rem;
  display: flex;
}
main aside section article span {
  font-family: "Proxima Nova Cn Rg", sans-serif;
  background-color: var(--tags-bg);
  transition: all 0.2s ease;
  align-items: baseline;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  gap: 0.3rem;
}
main aside section article span:hover {
  background-color: #CFD8DC;
}
main aside section article span i {
  transition: all 0.2s ease;
  font-style: unset;
  font-size: 0.8rem;
  opacity: 0.5;
}
main aside section article span:hover i {
  opacity: 1;
}
main aside section article .skills-row {
  flex-flow: row wrap;
  display: inherit;
  gap: 0.5rem 0.8rem;
}
main aside .skills_tools {
  flex-flow: column nowrap;
  display: flex;
}
main aside .skills_tools article {
  flex-flow: column nowrap;
}
main aside .skills_tools article h5 {
  padding-top: 1rem;
}
main aside .skills_tools #desc {
  padding-top: 2rem;
  font-style: italic;
  font-size: 0.8rem;
}
main #main {
  box-shadow: 0 -1rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: var(--glabal-side-padding);
  flex-flow: column nowrap;
  grid-area: main;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  main #main {
    order: 1;
  }
}
main #main article h3 {
  font-family: "Proxima Nova Bl", sans-serif;
  text-transform: uppercase;
  color: var(--title-color);
  padding-bottom: 1rem;
}
main #main .about img {
  margin: 0 2rem 1rem 0;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
  display: flex;
  float: left;
  width: 30%;
}
main #main .about p {
  line-height: normal;
}
@media screen and (max-width: 768px) {
  main #main .about {
    flex-flow: column nowrap;
    display: flex;
  }
  main #main .about img {
    margin: 0 0 2rem 0;
    align-self: center;
    width: 62%;
  }
}
main #main .experience,
main #main .education {
  border: 1px solid var(--grey-border);
  border-radius: 0.5rem;
  padding: 1rem;
}
main #main .experience section {
  color: var(--title-color);
  flex-flow: column nowrap;
  display: flex;
  gap: 1.8rem;
}
main #main .experience section div {
  flex-flow: column nowrap;
  display: inherit;
}
main #main .experience section div h4 {
  display: flex;
  line-height: normal;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.3rem;
  font-size: 1.2rem;
}
main #main .experience section div h4 span {
  background-color: var(--tags-bg);
  white-space: nowrap;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
}
main #main .experience section div h5 {
  padding-bottom: 0.4rem;
  font-size: 1rem;
}
main #main .experience section div p {
  line-height: 1.2;
}
main #main .education {
  color: var(--title-color);
  flex-flow: column nowrap;
  display: flex;
}
main #main .education .edu_basic,
main #main .education .edu_additional {
  padding-bottom: 1rem;
}
main #main .education .edu_basic h4,
main #main .education .edu_additional h4 {
  padding-bottom: 0.3rem;
  line-height: normal;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
}
main #main .education .edu_basic h4 span,
main #main .education .edu_additional h4 span {
  background-color: var(--tags-bg);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  white-space: nowrap;
  font-size: 0.8rem;
}
main #main .education .edu_basic h5,
main #main .education .edu_additional h5 {
  padding-bottom: 0.4rem;
  font-size: 1rem;
}
main #main .education .edu_basic h5 u,
main #main .education .edu_additional h5 u {
  font-style: italic;
}

.contacts {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  transition: all 0.3s ease;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: none;
  height: 100%;
  width: 100vw;
  opacity: 0;
  gap: 2rem;
  top: 0;
}
.contacts #modal {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  flex-flow: column nowrap;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  padding: 2rem 1.5rem;
  display: flex;
  gap: 1rem;
}
.contacts #modal a {
  color: #fff;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.contacts #modal a i {
  font-size: 1.5rem;
}
.contacts > i {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
}

.visible {
  z-index: 2;
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
